.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #c7e2f6;
  width: 60%;
  margin: 0 auto;
}
.intestation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: #e7e061;
}

.category {
  padding: 3px;
  width: 25%;
}