.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0f33ce 0%, #17fdb4 100%);
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}